body {
  background-color: gold;
}

div {
  border: 1px solid black;
}

h1 {
  color: purple;
  font-size: 98px;
  font-family: impact;
}

img {
  width: 270px
}

h2 {
  font-family: sans-serif;
  font-size: 27px;
  margin-left: 70px
}

h3 {
  font-family: cursive;
  font-size: 34px;
}

h5 {
  font-family: Helvetica;
  font-size: 13px;
  padding-left: 20px
}

li {
  font-family: arial;
}

h4 {
  font-size: 17px;
  font-family: arial;
  color: purple;
}

u {
  color: purple
}

h6 {
  font-family: cursive;
}
